h1 {
  color: var(--h1-color);
}

h2 {
  color: var(--h2-color);
}

h3 {
  color: var(--h3-color);
}

h4 {
  color: var(--h4-color);
}

h5 {
  color: var(--h5-color);
}

h6 {
  color: var(--h6-color);
}

em {
  color: var(--em-color);
}

s {
  color: var(--s-color);
}

strong {
  color: var(--strong-color);
}
